* {
    color: white;
  }
  
  
  html {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
    }
    
    body {
      margin: 5% auto 0 auto;
      width: 90%;
      max-width: 1125px;
    }
    
    h1 {
      
      font-size: 60px;
      margin-bottom: 2.5%;
      color: white;
      font-weight: 600;
      text-align: center;
    }
  
    hr {
      color: white;
    }

    blockquote {
      color: #585858;
      background: pink;
      border-top: 10px solid #e76bd2;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      /* quotes: "\201C""\201D""\2018""\2019"; */
    }
    blockquote:before {
      color: #585858;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
      margin-left: 50px;
    }
  
    p {
      color: white;
      padding: 20px;
      margin: 20px;
    }
  
    /* POSTS IMG COMMENTS    POSTS IMG COMMENTS    POSTS IMG COMMENTS    POSTS IMG COMMENTS    POSTS IMG COMMENTS     */
    .postbanner {
      -moz-box-shadow:    inset 0 0 10px white;
      -webkit-box-shadow: inset 0 0 10px white;
      box-shadow:         inset 0 0 10px white;
      position: relative;
      overflow: hidden;
      height: 400px;
      margin: 8px;
    }
  
    .postbanner img {
      z-index: -1;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  
    .authorinfo {
      display: flex;
      justify-content: center;
      text-align: center;
      }
  
    .authorinfo ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .authorimg{
      display: flex;
      justify-content: center;  
    }
  
    .authorimg img{
      margin-top: 40px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  
    .comments {
      margin-top: 40px;
    }
  
    #comment-scroll{
      margin-top: 40px;
    }
  
  
      /* centering form */
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
    }
    
    .left, .right {
      width: 20%;
    }
    
    .middle {
      width: 60%;
      margin-top: 2%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      box-sizing: border-box;
      content: "";
      display: table;
      clear: both;
    }
  
   
    
    /* Question */
    input.question,
    textarea.question {
      font-size: 18px;
      font-weight: 300;
      border-radius: 2px;
      margin: 0;
      border: none;
      width: 80%;
      background: rgba(0, 0, 0, 0);
      transition: padding-top 0.2s ease, margin-top 0.2s ease;
      overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
    }
    
    /* Underline and Placeholder */
    input.question + label,
    textarea.question + label {
      display: block;
      position: relative;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      width: 10%;
      border-top: 1px solid white;
      -webkit-transition: width 0.4s ease;
      transition: width 0.4s ease;
      height: 0px;
    }
    
    input.question:focus + label,
    textarea.question:focus + label {
      width: 80%;
    }
    
    input.question:focus,
    input.question:valid {
      padding-top: 35px;
    }
    
    textarea.question:valid,
    textarea.question:focus {
      margin-top: 110px;
    }
    
    input.question:focus + label > span,
    input.question:valid + label > span {
      top: -100px;
      font-size: 22px;
      color: white;
    }
    
    textarea.question:focus + label > span,
    textarea.question:valid + label > span {
      top: -180px;
      font-size: 22px;
      color: white;
    }
    
    input.question:valid + label,
    textarea.question:valid + label {
      border-color: lightseagreen;
    }
    
    input.question:invalid,
    textarea.question:invalid {
      box-shadow: none;
    }
    
    input.question + label > span,
    textarea.question + label > span {
      font-weight: 300;
      margin: 0;
      position: absolute;
      color: white;
      font-size: 22px;
      top: -66px;
      left: 0px;
      z-index: -1;
      -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
      transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
      z-index: auto;
    }
    
    input[type="submit"] {
      -webkit-transition: opacity 0.2s ease, background 0.2s ease;
      transition: opacity 0.2s ease, background 0.2s ease;
      display: block;
      opacity: 0;
      margin: 10px 0 0 0;
      padding: 10px;
      cursor: pointer;
      background: #212120;
    }
    
    input[type="submit"]:hover {
      background: darkslategrey;
    }
    
    input[type="submit"]:active {
      background: #212120;
    }
    
    input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
      -webkit-animation: appear 1s forwards;
      animation: appear 1s forwards;
    }
    
    input.question:invalid ~ input[type="submit"], 
      textarea.question:invalid ~ input[type="submit"] {
      display: none;
    }
    
    @-webkit-keyframes appear {
      100% {
        opacity: 1;
      }
    }
    
    @keyframes appear {
      100% {
        opacity: 1;
      }
    }
    
    .column-right {
      display: flex;
      justify-content: center;
    }
    a {
        text-decoration: none;
    }
    .back {
        border: 0px;
        text-align: center;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    .back:hover
    {
        color:var(--article-accent);
    }
    .back:active
    {
        color : var(--perspective-blue);
    }
    /* TODO: 
      usernames and pictures for comments */
    #text
    {
      overflow:hidden;
      text-overflow: ellipsis;
      -webkit-background-clip: text;
      position: relative;
      max-width: 60vw;
      word-break: break-word;
    }
    #comment-voteBtn {
      display: flex;
      justify-content: center;
    }
    #numLikes {
      display: flex;
      justify-content: center;
    }
    .thoughtful
    {
      background-color: rgb(255, 255, 115);
      color: var(--ash-grey);
      transition: 0.2s ease-in-out;
      height: 50px;
      padding: 5px;
      margin: 5px;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 5px;
    }
    .agree
    {
      background-color: rgb(132, 185, 52);
      color: white;
      transition: 0.2s ease-in-out;
      height: 50px;
      padding: 5px;
      margin: 5px;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 5px;
    }
    .disagree
    {
      background-color: red;
      color: white;
      transition: 0.2s ease-in-out;
      height: 50px;
      padding: 5px;
      margin: 5px;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 5px;
    }
    .votebtn {
      border: none;
      border-radius: 5px;
      background: none;
      color: white;
      transition: 0.2s ease-in-out;
      height: 50px;
      padding: 5px;
      margin: 5px;
      height: 30px;
      width: 30px;
    }
  
    .votebtn:hover, .disagree:hover, .agree:hover, .thoughtful:hover{
      background-color: white;
      color: #212120;
      transition: 0.2s ease-in-out;
    }
    .username
    {
      cursor: pointer;
    }
  
  