
        <div class="comments-box-1 set-div-comment-align-side">
            <div class="comments-box">
                <div class="row">
                    <div class="profile-comments">
                        <img src="{{profile.profilePic}}" />
                    </div>
                    <div class="topic-details-comments">
                        <h5>How do you help the world ?</h5>
                        <div class="row">
                            <div class="username-comments">
                                <p>Jane Doe</p>
                                <span>#janedoe33</span>
                            </div>
                            <div class="button-comments">
                                <a href="#">Topic</a>
                                <a href="#">Tone</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                    </p>
                </div>
                <div class="row open-post">
                    <p>Open Post</p>
                </div>
            </div>
            <div class="comment-discussion">
                <div class="row">
                    <div class="img-set-comment-discussion">
                        <img src="{{profile.profilePic}}" />
                        <div class="comments-count">
                            <span>116</span>
                            <p>Comments</p>
                        </div>
                    </div>
                    <div class="coments-profile-details">
                        <h6>John Doe</h6>
                        <span class="username">#john333</span>
                        <p>Lorem 1 ipsum dolor sit amet consectetur adipisicing elit. Esse sapiente, doloremque non architecto harum ut qui suscipit delectus repellendus vitae.</p>
                    </div>
                </div>
                <div class="row open-discussion">
                    <p>Open Discussion</p>
                </div>
            </div>
        </div>
        <div class="comments-box-1 set-pad-from-top-div">
            <div class="comments-box">
                <div class="row">
                    <div class="profile-comments">
                        <img src="{{profile.profilePic}}" />
                    </div>
                    <div class="topic-details-comments">
                        <h5>How do you help the world ?</h5>
                        <div class="row">
                            <div class="username-comments">
                                <p>Jane Doe</p>
                                <span>#janedoe33</span>
                            </div>
                            <div class="button-comments">
                                <a href="#">Topic</a>
                                <a href="#">Tone</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                    </p>
                </div>
                <div class="row open-post">
                    <p>Open Post</p>
                </div>
            </div>
            <div class="comment-discussion">
                <div class="row">
                    <div class="img-set-comment-discussion">
                        <img src="{{profile.profilePic}}" />
                        <div class="comments-count">
                            <span>116</span>
                            <p>Comments</p>
                        </div>
                    </div>
                    <div class="coments-profile-details">
                        <h6>John Doe</h6>
                        <span class="username">#john333</span>
                        <p>Lorem 1 ipsum dolor sit amet consectetur adipisicing elit. Esse sapiente, doloremque non architecto harum ut qui suscipit delectus repellendus vitae.</p>
                    </div>
                </div>
                <div class="row open-discussion">
                    <p>Open Discussion</p>
                </div>
            </div>
        </div>