<!-- <div class="top">
    <div class="titleinput">
        <h1>New Post</h1>
        <input type="text" name="name" class="title" id="title" placeholder="  Give us a title!" required autocomplete="off" size="50"/>
    </div>
    <div class="helpbtns">
        <button class="fill">Publish</button>
        <button class="fill">Preview</button>
        <button class="fill">Cancel</button>
    </div>
</div>

<div class="content">
    <quill-editor id="editor" class="content-editor" [placeholder]="''"> </quill-editor>
    <div class="postinfo">
        <div class="minibanner">
            <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/53/9556248b4747950.png">
        </div>
        <div class="wrapper">
            <p>TONE?</p>
            <div class="icon facebook">
              <div class="tooltip">Serious</div>
              <span><i class="far fa-frown-open"></i></span>
            </div>
            <div class="icon twitter">  
              <div class="tooltip">Funny</div>
              <span><i class="far fa-grin-squint-tears"></i></span>
            </div>
            <div class="icon instagram">
              <div class="tooltip">Formal</div>
              <span><i class="far fa-meh"></i></span>
            </div>
            <div class="icon youtube">
              <div class="tooltip">Informal</div>
              <span><i class="far fa-grin-tongue-squint"></i></span>
            </div>
        </div>

        <div class="topic">
            <details class="custom-select">
                <summary class="radios">
                    <input type="radio" name="item" id="default" title="Auswählen..." checked>
                    <input type="radio" name="item" id="item1" title="Item 1">
                    <input type="radio" name="item" id="item2" title="Item 2">
                    <input type="radio" name="item" id="item3" title="Item 3">
                    <input type="radio" name="item" id="item4" title="Item 4">
                    <input type="radio" name="item" id="item5" title="Item 5">
                </summary>
                <ul class="list">
                    <li>
                        <label for="item1">Item 1</label>
                    </li>
                    <li>
                        <label for="item2">Item 2</label>
                    </li>
                    <li>
                        <label for="item3">Item 3</label>
                    </li>
                    <li>
                        <label for="item4">Item 4</label>
                    </li>
                    <li>
                        <label for="item5">Item 5</label>
                    </li>
                </ul>
            </details>

        </div>
    </div>
</div> -->