@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1,h3,h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 0;
  margin: 0;
  display: inline;
  color: white;
}

h2 {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 10;
  color: white;
  visibility: hidden;
}

quill-editor {
  padding: 20px; 
  min-height: 250px;
  border-radius: 10px;
}

.top, .titleinput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.title {
  margin: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.helpbtns {
  display: flex;
}

.helpbtns button {
  margin: 5px;
}

.content{
  display: flex;
  /* grid-template-columns: 3fr 1fr; */
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  flex: 3;
}

.mainContent .custom-file-upload {
  /* margin-left: 15px;
  margin-right: 15px; */
  margin-bottom: 15px;
}

.mainContent .custom-file-upload:hover{
  cursor: pointer;
  filter: brightness(60%);
  transition: .2s ease-in-out;
}

.postinfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
  height: 450px;
}

.postinfo .custom-file-upload {
  position: relative;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-file-input {
  width: 100%;
  height: 250px;
  visibility: hidden;
}

.custom-file-upload {
  width: 100%;
  height: 250px;
 background-size: cover;
}

.custom-file-upload:hover {
  filter: brightness(50%);
}

.custom-file-upload:hover h2 {
  visibility: visible;
  filter: brightness(100%);
  /* z-index: 20; */
}


button {
margin: 50px;
font-family: inherit;
}
/* End of Page styling */

/* Fill button styling */
.fill {
font-size: 20px;
font-weight: 200;
letter-spacing: 1px;
padding: 8px 30px 8px;
outline: 0;
border: 1px solid white;
cursor: pointer;
position: relative;
background-color: rgba(0, 0, 0, 0);
z-index: 2;
color: #bac7ff;
}

.fill::after {
content: "";
background-color: #3a4ea2;
width: 100%;
z-index: -1;
position: absolute;
height: 100%;
top: 5px;
left: 5px;
transition: 0.2s;
}

.fill:hover::after {
top: 0px;
left: 0px;
}
/* End of Fill Button  */

/* info buttons start */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

*:focus,
*:active {
outline: none !important;
-webkit-tap-highlight-color: transparent;
}

html,
body {
display: grid;
height: 100%;
width: 100%;
font-family: "Poppins", sans-serif;
place-items: center;
background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #212120;
}

.wrapper {
display: inline-flex;
align-items: center;
}

.wrapper .icon {
position: relative;
background-color: #ffffff;
border-radius: 50%;
padding: 15px;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background-color: #ffffff;
color: #ffffff;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background-color: #ffffff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
background-color: #3b5999;
color: #ffffff;
z-index: 5;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
background-color: #46c1f6;
color: #ffffff;
z-index: 5;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background-color: #e1306c;
color: #ffffff;
z-index: 5;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
z-index: 5;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background-color: #de463b;
color: #ffffff;
z-index: 5;
}

/* topic select */

.topic {
  margin: 15px;
}

details {
position: relative;
width: 300px;
margin-right: 1rem;
}

details[open] {
z-index: 1;
}

summary {
padding: 1rem;
cursor: pointer;
border-radius: 5px;
background-color: #ddd;
list-style: none;
}

summary::-webkit-details-marker {
display: none;
}

details[open] summary:before {
content: '';
display: block;
width: 100vw;
height: 100vh;
background: transparent;
position: fixed;
top: 0;
left: 0;
}

summary:after {
content: '';
display: inline-block;
float: right;
width: .5rem;
height: .5rem;
border-bottom: 1px solid currentColor;
border-left: 1px solid currentColor;
border-bottom-left-radius: 2px;
transform: rotate(45deg) translate(50%, 0%);
transform-origin: center center;
transition: transform ease-in-out 100ms
}

summary:focus {
outline: none;
}

details[open] summary:after {
transform: rotate(-45deg) translate(0%, 0%);
}

ul {
width: 100%;
background: #ddd;
position: absolute;
top: calc(100% + .5rem);
left: 0;
padding: 1rem;
margin: 0;
box-sizing: border-box;
border-radius: 5px;
max-height: 200px;
overflow-y: auto;
}

li {
margin: 0;
padding: 1rem 0;
border-bottom: 1px solid #ccc;
}

li:first-child {
padding-top: 0;
}

li:last-child {
padding-bottom: 0;
border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
counter-reset: radios;
}

input[type=radio] {
counter-increment: radios;
appearance: none;
display: none;
}

input[type=radio]:checked {
display: inline;
}

input[type=radio]:after {
content: attr(title);
display: inline;
font-size: 1rem;
}

ul.list {
counter-reset: labels;
}

label {
width: 100%;
display: block;
cursor: pointer;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
select[multiple] {
  padding-right: 0;
  height: 15rem;
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}
.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}
label {
  font-size: 1.125rem;
  font-weight: 500;
}
.select + label {
  margin-top: 2rem;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-gap: 0.5rem;
  font-family: "Baloo 2", sans-serif;
  background-color: #e9f2fd;
  padding: 1rem;
}
.cropper
{
    z-index: 10;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #070707a4;
}
image-cropper
{
    min-height: 70vh;
    max-height: 80vh;
    opacity: 1;
}
#submit
{
    opacity: 1;
    width: 100%;
    border: none;
    height: 8vh;
    font-size: 40px;
    font-weight: 1000;
    background-color: var(--perspective-blue);
    color: var(--text-color);
    transition: 0.3s;
}
#submit:hover
{
    background-color: #2c4c65;
}
#cancel
{
    opacity: 1;
    width: 100%;
    border: none;
    height: 8vh;
    font-size: 40px;
    font-weight: 1000;
    background-color: #383838;
    color: var(--text-color);
    transition: 0.3s;
}
#cancel:hover
{
    background-color: #070707;
}