<!DOCTYPE html>
<html>
    <link href="C:\Users\Sam\Documents\Persective-Work\Epics-Issues\Website\src\app\views\components\footer\footer.component.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
    <footer>
        <div class="Perspective">
            <img src="https://devblobstorageper.blob.core.windows.net/images/default/Perspective 2-01.png" alt="Perspective with Logo">
        </div>
        <div class="container">
            
            <div class="list1">
                <ul>
                    <li><a href="#" class="button" target="_blank">About</a></li>
                    <li><a href="#" class="button" target="_blank">Help Center</a></li>
                    <li><a href="#" class="button" target="_blank">Terms of service</a></li>
                    <li><a href="#" class="button" target="_blank">Privacy Policy</a></li>
                    <li><a href="#" class="button" target="_blank">Cookie Policy</a></li>
                    <li><a href="#" class="button" target="_blank">Adverstising</a></li>
                    <li><a href="#" class="button" target="_blank">Developers</a></li>
                    <li><a href="#" class="button" target="_blank">Directory</a></li>
                    <li><a href="#" class="button" target="_blank">Settings</a></li>
                </ul>
                </div>
            
        </div>
        <div class="cc">
            <p>© 2021 Perspective, Inc.</p>
        </div>
    </footer>
    </body>
</html>