<div class="cntr">
  
    <label for="opt1" class="radio">
      <input type="radio" name="rdo" id="opt1" class="hidden" value="Serious" (click)="addNewItem(newItem.value)" #newItem/>
      <span class="label"></span>Serious
    </label>
    
    <label for="opt2" class="radio">
      <input type="radio" name="rdo" id="opt2" class="hidden" value="Funny" (click)="addNewItem(newItem.value)" #newItem/>
      <span class="label"></span>Funny
    </label>
    
    <label for="opt3" class="radio">
      <input type="radio" name="rdo" id="opt3" class="hidden" value="Informal" (click)="addNewItem(newItem.value)" #newItem/>
      <span class="label"></span>Informal
    </label>
    
    <label for="opt4" class="radio">
      <input type="radio" name="rdo" id="opt4" class="hidden" value="Formal" (click)="addNewItem(newItem.value)" #newItem/>
      <span class="label"></span>Formal
    </label>
    
  </div>