<div class="item">
    <mwl-gauge
        [max]="100"
        [dialStartAngle]="150"
        [dialEndAngle]="30"
        [value]="abortion_num"
        [animated]="true"
        [animationDuration]="1"
        >
    </mwl-gauge>
    <h3>
        Abortion
    </h3>
</div>
<div class="item">
    <mwl-gauge
        [max]="100"
        [dialStartAngle]="150"
        [dialEndAngle]="30"
        [value]="border_num"
        [animated]="true"
        [animationDuration]="1"
        >
    </mwl-gauge>
    <h3>
        Border Control
    </h3>
</div>
<div class="item">
    <mwl-gauge
        [max]="100"
        [dialStartAngle]="150"
        [dialEndAngle]="30"
        [value]="climate_num"
        [animated]="true"
        [animationDuration]="1"
        >
    </mwl-gauge>
    <h3>
        Climate Change
    </h3>
</div>
<div class="item">
    <mwl-gauge
        [max]="100"
        [dialStartAngle]="150"
        [dialEndAngle]="30"
        [value]="infra_num"
        [animated]="true"
        [animationDuration]="1"
        >
    </mwl-gauge>
    <h3>
        Infrastructure
    </h3>
</div>
<div class="item">
    <mwl-gauge
        [max]="100"
        [dialStartAngle]="150"
        [dialEndAngle]="30"
        [value]="military_num"
        [animated]="true"
        [animationDuration]="1"
        >
    </mwl-gauge>
    <h3>
        Military Violence
    </h3>
</div>