<!-- <div class="row">
    <div class="column-left">

    </div>
    <div class="column-right"> -->
         <!-- <h1 class="header-center">LOGIN</h1> -->

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<nav class="navbar navbar-light" style="background-color: #212120;">
<div class="container">
    <a class="navbar-brand  mx-auto" routerLink="/landing">
    <img src="assets/img/PerspectiveIcon.png" alt="" width="40" height="45">
    </a>
</div>
</nav>
<br>
<app-sign-up-form></app-sign-up-form>
    <!-- </div>    
</div> -->
