<!-- <app-navbar></app-navbar>

<form [formGroup]="editForm" (submit)="submit()" *ngIf="isEditable" style="background-color: white; color: black;">
	<quill-editor formControlName="text"></quill-editor>
	<button type="submit" [disabled]="!editForm.valid">submit</button>
</form>

<button (click)="edit()" *ngIf="!isEditable">edit</button>
<div>{{this?.text}}</div>

<div [innerHtml]="this?.text"></div>

<iframe class="ql-video" allowfullscreen="true" src="https://www.youtube.com/embed/A32F2Ab3vmA?showinfo=0" frameborder="0"></iframe><p>hello</p><p>world</p><p>!</p> -->